= provide(:title, 'Contact')
%h1 Contact Eat Me Now!

%p Contact Us & this organization to help people live more easily in this crazy tumultous age
%a{:href=>"http://railstutorial.org/"}Eat Me Now application.
