.center.hero-unit
	%h1 Eat Me Now!
	%p
		This is the home page for the
		%a{ :href => "http://railstutorial.org/"} Eat Me Now application by XestSystems
	%br	
	= link_to "Sign up now!", signup_path, :class => ["btn","btn-large","btn-primary"]
