.center.hero-unit
	%h1 Eat Me Now!
	%p
		This is the home page for the
		%a{ :href => "http://railstutorial.org/"} Rails Tutorial
		Eat Me Now application.
	%br	
	= link_to "Sign up now!", '#', :class => ["btn","btn-large","btn-primary"]
