%html
  %head
  %body
    %h1 Welcome to example.com, #{@food.food_name}

    %p
      You have successfully signed up to example.com,
      your username is: #{@food.food_name}.
    %br

    %p
      To login to the site, just follow this link: #{@food.food_name}.
    
    %p Thanks for joining and have a great day!

